header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: black;
  text-align: center;
}

#headerTitle {
  /*color: #FF0000;*/
  color: #F92A50;
  line-height: 10vh;
  font-size: 9vh;
}

main {
  position: fixed;
  left: 0;
  top: 10vh;
  width: 100vw;
  height: 90vh;
  text-align: center;
}

#background {
  height: 100%;
}
